body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 700px;
}


/* index.jsp */
.formCreaUser{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    height: 500px;
    border-radius: 30px;
}

nav.navCreaUser {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.navCreaUser label{
    color: darkcyan;
    margin: 20px;
}

/* iniciarSesion.jsp*/

div.loginForm{
    border: 1px black solid;
    justify-content:  center;
    display: flex;
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    height: 500px;
    border-radius: 30px;
}

/* crearProducto.jsp*/

.formCreaProduct{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    height: 500px;
    border-radius: 30px;
}

/* creaProveedor.jsp */

.formCreaProveedor{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    height: 500px;
    border-radius: 30px;
}

/* verTodosProveedores.jsp */

.verProveedores{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    height: 500px;
    border-radius: 30px;
}