body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 700px;
}


/* index.jsp */
.formCreaUser{
    margin-top: 80px; 
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
}

nav.navCreaUser {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px; }

nav.navCreaUser label{
    color: darkcyan;
    margin: 20px;
    margin-top: 80px; }

/* iniciarSesion.jsp*/

div.loginForm{
    border: 1px black solid;
    justify-content:  center;
    display: flex;
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }

/* crearProducto.jsp*/

.formCreaProduct{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }

/* creaProveedor.jsp */

.formCreaProveedor{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }

/* verTodosProveedores.jsp */

.verProveedores{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }

/* hacerCompra.jsp */

section.hacerCompra{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }

/* verTodosProductos.jsp*/
section.verTodosProductos{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }

/* tabla*/

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 13px;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

/* ModificarPro.jsp */

.ModificarPro{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 80px; }


/* CompraDeCLi.jsp */

.Carro{
    display: inline;
    /* margin:  Arriba | Derecha | Abajo | Izquierda */
    padding: 20px;
    background: rgba(255,255,255,0.8);
    width: 60%;
    min-height: 500px;
    border-radius: 30px;

    margin-top: 80px; }